@import url(https://fonts.googleapis.com/css?family=Lato:300,900);
* {
  outline: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

html, body {
  margin: 0;
  height: 100%; }

.mobile-only {
  display: none; }

.desktop-only {
  display: block; }

#header {
  text-align: center;
  width: 100%;
  color: #FFF;
  height: 100%; }
  #header #container {
    display: table;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    position: relative; }
    #header #container .row {
      display: table-row; }
      #header #container .row > * {
        padding: 0.5em; }
      #header #container .row h1 {
        text-transform: capitalize;
        display: table-cell;
        width: 100%;
        vertical-align: bottom;
        font-size: 3em; }
      #header #container .row #slogan {
        text-transform: lowercase;
        display: table-cell;
        width: 100%;
        font-size: 1.25em; }
        #header #container .row #slogan:first-letter {
          text-transform: uppercase; }
  #header #background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    opacity: 0.2; }
    #header #background-image:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: ' ';
      background-color: inherit; }
    #header #background-image:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: ' ';
      background-color: inherit; }

.banner {
  padding: 0.5em; }

#nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #FFF;
  z-index: 5;
  padding-bottom: 0.25em; }
  #nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    float: right; }
    #nav ul li {
      position: relative;
      float: left;
      margin-right: 1em; }
      #nav ul li a {
        color: #FFF;
        text-decoration: none;
        padding-bottom: 0.25em;
        transition: all ease-in-out 0.1s;
        border-bottom: 3px solid transparent;
        text-transform: capitalize; }
        #nav ul li a:hover {
          cursor: pointer;
          border-bottom: 3px solid #FFF; }
  #nav #hamburger #menu-btn {
    width: 25px;
    height: 25px;
    float: right;
    margin: 0.5em 0.5em 0 0;
    border-top: 4px solid #FFF; }
    #nav #hamburger #menu-btn:hover {
      cursor: pointer; }
    #nav #hamburger #menu-btn:before {
      content: '';
      display: block;
      width: 25px;
      background: #FFF;
      height: 4px;
      position: absolute;
      margin-top: 5px; }
    #nav #hamburger #menu-btn:after {
      content: '';
      display: block;
      width: 25px;
      background: #FFF;
      height: 4px;
      position: absolute;
      margin-top: 14px; }
  #nav #hamburger ul {
    padding: 0;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    z-index: -1;
    height: 0;
    overflow: hidden;
    transition: all 0.25s ease-in-out; }
    #nav #hamburger ul.active {
      height: 100vh; }
    #nav #hamburger ul li {
      clear: both;
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
      #nav #hamburger ul li a {
        font-size: 1.5em;
        display: inline-block;
        padding: 1em 0;
        width: 100%; }

h3 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 0.5em; }

#contact {
  text-align: center;
  color: #FFF;
  background: #4d4d4d;
  padding-bottom: 3em; }
  #contact a {
    transition: all 0.25s ease-in-out; }
    #contact a:hover {
      color: #FFF !important; }
  #contact #social {
    font-size: 1.5em; }
    #contact #social a {
      color: inherit;
      transition: all 0.25s ease-in-out; }
      #contact #social a:hover {
        color: white; }

#about .emph {
  font-weight: 700;
  text-transform: capitalize; }

#about #about-slogan {
  font-size: 1.25em;
  text-align: center;
  text-transform: lowercase; }
  #about #about-slogan:first-letter {
    text-transform: capitalize; }

#about #about-text {
  display: flex; }
  #about #about-text > * {
    padding: 0.5em 2em 1em;
    max-width: 33.3%; }

#work {
  padding: 0;
  overflow: hidden; }
  #work h3 {
    margin-top: 1.7em;
    margin-bottom: 1.3em; }
  #work #work-cont {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5%; }
    #work #work-cont .example-piece {
      width: 24%;
      height: 30%;
      color: #FFF;
      position: relative;
      float: left;
      overflow: hidden;
      margin: 0.5%; }
      #work #work-cont .example-piece:hover .example-bg {
        -webkit-filter: blur(1.5px);
        -moz-filter: blur(1.5px);
        -o-filter: blur(1.5px);
        -ms-filter: blur(1.5px);
        filter: blur(1.5px); }
      #work #work-cont .example-piece:hover .piece-info {
        transform: scaleY(1); }
      #work #work-cont .example-piece .example-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 105%;
        width: 105%;
        background-size: cover;
        background-position: center;
        z-index: 1;
        background-color: inherit;
        transition: all 0.25s ease-in-out; }
      #work #work-cont .example-piece .piece-info {
        transform: scaleY(0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.2s ease-in-out;
        padding: 0.5em 1em;
        transform-origin: bottom center;
        overflow: hidden; }
        #work #work-cont .example-piece .piece-info h3 {
          margin-top: 0.5em;
          margin-bottom: 0;
          text-transform: capitalize;
          font-size: 1.5em; }
        #work #work-cont .example-piece .piece-info .type-of-job {
          font-size: 0.7em;
          text-align: center;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 0.1em;
          margin: 1em; }
          #work #work-cont .example-piece .piece-info .type-of-job + p {
            margin: 0;
            font-size: 0.9em; }
      #work #work-cont .example-piece .piece-info, #work #work-cont .example-piece h3 {
        z-index: 2;
        position: relative; }

.circle {
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  padding-bottom: 65%;
  border-radius: 50%;
  position: relative;
  background-size: 150%;
  border: 3px solid gray;
  margin-bottom: 1em; }
  .circle#full-stack {
    background-image: url(https://image.freepik.com/free-vector/computer-hardware-device-icon-vectors_658059.jpg); }
  .circle#quality {
    background-image: url(http://whythehellwouldyoucare.com/wp-content/uploads/2015/11/Consultancy_Excellence_concept.jpg);
    background-color: teal;
    background-blend-mode: overlay; }
  .circle#client {
    background-image: url(https://s3.amazonaws.com/typical-agency/images/photos/css-images/preffered-client-group.png); }

#team {
  padding: 1em 0.75em; }
  #team:after {
    content: '';
    display: block;
    clear: both; }
  #team > h3 span {
    text-transform: capitalize; }
  #team .teammate {
    width: 23%;
    padding-bottom: 23%;
    margin: 1%;
    position: relative;
    float: left; }
    #team .teammate > * {
      position: absolute;
      top: 0;
      left: 0; }
      #team .teammate > *.member-background {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center; }
      #team .teammate > *.member-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #FFF;
        transform: scaleY(0);
        transition: all 0.2s ease-in-out;
        transform-origin: bottom center; }
        #team .teammate > *.member-info.yellow {
          color: #000; }
        #team .teammate > *.member-info > * {
          position: relative;
          text-align: center;
          display: block;
          font-weight: 900; }
          #team .teammate > *.member-info > *.background {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0.5; }
            #team .teammate > *.member-info > *.background + * {
              margin-top: 6em; }
        #team .teammate > *.member-info > p {
          font-weight: 300; }
    #team .teammate:hover .member-info {
      transform: scaleY(1); }

#blurb {
  min-height: 30em;
  position: relative;
  clear: both; }
  #blurb .bg-image, #blurb .bg-color {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center; }
  #blurb .bg-color {
    opacity: 0.6; }
  #blurb .blurb-content {
    position: relative;
    color: #FFF; }
    #blurb .blurb-content h3 {
      font-size: 3em;
      margin-top: 2em; }
    #blurb .blurb-content p {
      font-size: 1.7em;
      width: 70%;
      margin-left: 50%;
      transform: translateX(-50%);
      text-align: center;
      margin-top: 1.7em;
      line-height: 1.7em; }

#clients {
  padding: 0.3em 5em 5em; }
  #clients .client-cont {
    padding-top: 1.75em; }
  #clients .client {
    display: block;
    position: relative;
    float: left;
    width: 23%;
    margin: 1% 1% 3%;
    text-align: center; }
    #clients .client img {
      max-width: 80%;
      max-height: 3em; }

@media (max-width: 960px) {
  #about #about-text {
    display: block; }
    #about #about-text > * {
      padding: 0.5em 1em 1em;
      display: inline-block;
      vertical-align: top; }
      #about #about-text > * .circle {
        width: 100%;
        padding-bottom: 100%; }
  #work #work-cont .example-piece {
    width: 49%; }
    #work #work-cont .example-piece h3 {
      margin: 0;
      font-size: 1.1em;
      padding-top: 0.3em; }
    #work #work-cont .example-piece .example-detail {
      font-size: 0.8em;
      letter-spacing: 0.05em;
      line-height: 1.3em;
      margin: 0.4em 0; }
      #work #work-cont .example-piece .example-detail p {
        margin: 0; }
        #work #work-cont .example-piece .example-detail p.type-of-job {
          margin: 0.3em 0; }
  #clients {
    padding: 0 1em 5em; }
    #clients .client {
      max-height: 5em;
      height: 5em;
      display: inline-block;
      vertical-align: center; }
  #team {
    padding: 2em 0.25em 0.25em; }
    #team .teammate {
      width: 31%;
      padding-bottom: 31%;
      margin: 1%; }
      #team .teammate .member-info .name {
        margin-top: 2em; }
      #team .teammate .member-info .title {
        font-size: 0.8em;
        margin-top: 0.3em; }
      #team .teammate .member-info p {
        margin-top: 0.5em;
        font-size: 0.9em; } }

@media (max-width: 600px) {
  .mobile-only {
    display: block; }
  .desktop-only {
    display: none; }
  #about #about-text {
    display: block; }
    #about #about-text > * {
      max-width: none;
      width: 100%;
      clear: both;
      padding: 0.5em 2em 1em; }
      #about #about-text > * > * {
        padding: 0 0.5em;
        text-align: center; }
  #team {
    padding: 2em 0.25em 0.25em; }
    #team .teammate {
      width: 48%;
      padding-bottom: 48%;
      margin: 1%; }
      #team .teammate .member-info .name {
        margin-top: 2em; }
      #team .teammate .member-info .title {
        font-size: 0.8em;
        margin-top: 0.3em; }
      #team .teammate .member-info p {
        margin-top: 0.5em;
        font-size: 0.9em; }
  #contact h3 {
    margin-bottom: 0.75em; }
  #contact #social {
    display: block;
    margin-top: 1.5em; }
    #contact #social a {
      font-size: 1.75em;
      margin: 0 0.3em; } }
