@import url(https://fonts.googleapis.com/css?family=Lato:300,900);
*{
  outline: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
html, body{
  margin: 0;
  height: 100%;
}
#header{
  text-align: center;
  width: 100%;
  color: #FFF;
  height: 100%;
  #container{
    display: table;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    position: relative;
    .row{
      display: table-row;
      > * {
        padding: 0.5em;
      }
      h1{
        text-transform: capitalize;
        display: table-cell;
        width:100%;
        vertical-align: bottom;
        font-size: 3em;
      }
      #slogan{
        text-transform: lowercase;
        display: table-cell;
        width:100%;
        font-size: 1.25em;
        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
  #background-image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    opacity: 0.2;
    &:before{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: ' ';
      background-color: inherit;
    }
    &:after{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: ' ';
      background-color: inherit;
    }
  }
}
.banner{
  padding: 0.5em;
}
#nav{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #FFF;
  z-index: 5;
  padding-bottom: 0.25em;
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    float: right;
    li{
      position: relative;
      float: left;
      margin-right: 1em;
      a{
        color: #FFF;
        text-decoration: none;
        padding-bottom: 0.25em;
        transition: all ease-in-out 0.1s;
        border-bottom:3px solid transparent;
        text-transform: capitalize;
        &:hover{
          cursor: pointer;
          border-bottom:3px solid #FFF;
        }
      }
    }
  }
  #hamburger{
    display: none;
    width: 25px;
    background: #FFF;
    height: 4px;
    float: right;
    margin: 0.5em 0.5em 0 0;
    &:before{
      content: '';
      display: block;
      width: 25px;
      background: #FFF;
      height: 4px;
      position: absolute;
      margin-top: 9px;
    }
    &:after{
      content: '';
      display: block;
      width: 25px;
      background: #FFF;
      height: 4px;
      position: absolute;
      margin-top: 18px;
    }
  }
}
h3{
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
#contact{
  text-align: center;
  color: #FFF;
  background: mix(black, white, 70%);
  padding-bottom: 3em;
  a{
    transition: all 0.25s ease-in-out;
    &:hover{
      color: #FFF!important;
    }
  }
  #social{
    font-size: 1.5em;
    a {
      color: inherit;
      transition: all 0.25s ease-in-out;
      &:hover{
        color: white;
      }
    }
  }
}
#about{
  .emph{
      font-weight: 700;
      text-transform: capitalize;
    }
  #about-slogan{
    font-size: 1.25em;
    text-align: center;
    text-transform: lowercase;
    &:first-letter{
      text-transform: capitalize;
    }
  }
  #about-text{
    display: flex;
    > * {
      padding: 0.5em 2em 1em;
      max-width: 33.3%;
    }
  }
}
#work{
  padding: 0;
  overflow: hidden;
  h3{
    margin-top: 1.7em;
    margin-bottom: 1.3em;
  }
  #work-cont {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5%;
   .example-piece{
      width: 24%;
      height: 30%;
      color: #FFF;
      position: relative;
      float: left;
      overflow: hidden;
      margin: 0.5%;
      &:hover{
       .example-bg {
         -webkit-filter: blur(1.5px);
         -moz-filter: blur(1.5px);
         -o-filter: blur(1.5px);
         -ms-filter: blur(1.5px);
         filter: blur(1.5px);
       }
       .piece-info{
         transform: scaleY(1);
       }
     }
     .example-bg{
       position: absolute;
       top: 0;
       left: 0;
       height: 105%;
       width: 105%;
       background-size: cover;
       background-position: center;
       z-index: 1;
       background-color: inherit;
       transition: all 0.25s ease-in-out;
     }
     .piece-info{
       transform: scaleY(0);
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       transition: all 0.2s ease-in-out;
       padding: 0.5em 1em;
       transform-origin: bottom center;
       overflow: hidden;
       h3{
         margin-top: 0.5em;
         margin-bottom: 0;
         text-transform: capitalize;
         font-size: 1.5em;
       }
       .type-of-job{
         font-size: 0.7em;
         text-align: center;
         text-transform: uppercase;
         font-weight: 700;
         letter-spacing: 0.1em;
         margin: 1em;
         & + p {
           margin: 0;
           font-size: 0.9em;
         }
       }
     }
     .piece-info, h3{
       z-index: 2;
       position: relative;
     }
    }
  }
}
.circle{
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  padding-bottom: 65%;
  border-radius: 50%;
  position: relative;
  background-size: 150%;
  border: 3px solid gray;
  margin-bottom: 1em;
  &#full-stack{
    background-image: url(https://image.freepik.com/free-vector/computer-hardware-device-icon-vectors_658059.jpg);
  }
  &#quality{
    background-image: url(http://whythehellwouldyoucare.com/wp-content/uploads/2015/11/Consultancy_Excellence_concept.jpg);
    background-color: teal;
    background-blend-mode: overlay;
  }
  &#client{
    background-image: url(https://s3.amazonaws.com/typical-agency/images/photos/css-images/preffered-client-group.png);
  }
}
#team {
  padding: 1em 0.75em;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  > h3 {
    span {
      text-transform: capitalize;
    }
  }
  .teammate {
    width: 23%;
    padding-bottom: 23%;
    margin: 1%;
    position: relative;
    float: left;
    > * {
      position: absolute;
      top: 0;
      left: 0;
      &.member-background {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
      }
      &.member-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #FFF;
        transform: scaleY(0);
        transition: all 0.2s ease-in-out;
        transform-origin: bottom center;
        &.yellow {
          color: #000;
        }
        > * {
          position: relative;
          text-align: center;
          display: block;
          font-weight: 900;
          &.background {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0.5;
            & + * {
              margin-top: 6em;
            }
          }
        }
        > p {
          font-weight: 300;
        }
      }
    }
    &:hover {
      .member-info {
        transform: scaleY(1);
      }
    }
  }
}
#blurb {
  min-height: 30em;
  position: relative;
  clear: both;
  .bg-image,.bg-color {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .bg-color {
    opacity: 0.6;
  }
  .blurb-content {
    position: relative;
    color: #FFF;
    h3 {
      font-size: 3em;
      margin-top: 2em;
    }
    p{
      font-size: 1.7em;
      width: 70%;
      margin-left: 50%;
      transform: translateX(-50%);
      text-align: center;
      margin-top: 1.7em;
      line-height: 1.7em;
    }
  }
}
#clients {
  padding: 0.3em 5em 5em;
  .client-cont {
    padding-top: 1.75em;
  }
  .client {
    display: block;
    position: relative;
    float: left;
    width: 23%;
    margin: 1% 1% 3%;
    text-align: center;
    img {
      max-width: 80%;
      max-height: 3em;
    }
  }
}
@media (max-width: 960px){
  #about {
    #about-text {
      display: block;
      > * {
        padding: 0.5em 1em 1em;
        display: inline-block;
        vertical-align: top;
        .circle {
          width: 100%;
          padding-bottom: 100%;
        }
      }
    }
  }
  #work {
    #work-cont {
      .example-piece {
        width: 49%;
        h3 {
          margin: 0;
          font-size: 1.1em;
          padding-top: 0.3em
        }
        .example-detail {
          font-size: 0.8em;
          letter-spacing: 0.05em;
          line-height: 1.3em;
          margin: 0.4em 0;
          p{
            margin: 0;
            &.type-of-job {
              margin: 0.3em 0;
            }
          }
        }
      }
    }
  }
  #clients {
    padding: 0 1em 5em;
    .client {
      max-height: 5em;
      height: 5em;
      display: inline-block;
      vertical-align: center;
    }
  }
  #team {
    padding: 2em 0.25em 0.25em;
    .teammate {
      width: 31%;
      padding-bottom: 31%;
      margin: 1%;
      .member-info {
        .name {
          margin-top: 2em;
        }
        .title {
          font-size: 0.8em;
          margin-top: 0.3em;
        }
        p {
          margin-top: 0.5em;
          font-size: 0.9em;
        }
      }
    }
  }
}
@media (max-width: 600px){
  #about {
    #about-text {
      display: block;
      > * {
        max-width: none;
        width: 100%;
        clear: both;
        padding: 0.5em 2em 1em;
        > * {
          padding: 0 0.5em;
          text-align: center;
        }
      }
    }
  }
  #team {
    padding: 2em 0.25em 0.25em;
    .teammate {
      width: 48%;
      padding-bottom: 48%;
      margin: 1%;
      .member-info {
        .name {
          margin-top: 2em;
        }
        .title {
          font-size: 0.8em;
          margin-top: 0.3em;
        }
        p {
          margin-top: 0.5em;
          font-size: 0.9em;
        }
      }
    }
  }
  #contact {
    h3 {
      margin-bottom: 0.75em;
    }
    #social {
      display: block;
      margin-top: 1.5em;
      a {
        font-size: 1.75em;
        margin: 0 0.3em;
      }
    }
  }
}
